/* filter.css */

/* Определение CSS-переменных для светлой темы */
:root {
  --bg-color: #ffffff; /* Фон страницы */
  --container-bg: #f5f5f5; /* Фон контейнеров и блоков */
  --accent-color: #3498db; /* Акцентный цвет */
  --accent-hover: #2980b9; /* Акцентный цвет при наведении */
  --text-color: #333333; /* Основной текст */
  --border-color: #ddd; /* Цвет границ */
  --border-radius: 5px; /* Скругление углов */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Переопределения для тёмной темы */
body.dark-theme {
  --bg-color: #121212;
  --container-bg: #1e1e1e;
  --accent-color: #e74c3c;
  --accent-hover: #c0392b;
  --text-color: #e0e0e0;
  --border-color: #444;
}
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container,
.btn,
header,
footer {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Глобальные стили */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Основной контейнер */
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--container-bg);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.header-text {
  color: var(--accent-color);
}
#themeToggle {
  color: var(--text-color);
  border-color: var(--accent-color);
}
#themeToggle:hover {
  background-color: var(--accent-color);
}
footer {
  color: var(--text-color);
}
.btn-danger {
  background-color: var(--accent-color) !important;

  color: #fff !important;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: var(--accent-hover) !important;

  color: var(--text-color) !important;
}

.dropdown-menu {
  background-color: var(--container-bg) !important;
}

.dropdown-item {
  color: var(--text-color) !important;
}

.dropdown-item:hover {
  background-color: var(--accent-color) !important;
  color: #fff !important;
}
